@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Titillium Web', sans-serif;
}

ol, ul {
	list-style: none;
  padding: 0;
}

.link {
  background-color: white;
  border: 1px solid white;
  color: #db1600;
  text-decoration: none;
  padding: 8px;
  border-radius: 15px;
}

.linkStyle {
  margin-right: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.linkStyle:not(:last-child) {
  border-right: 1px solid grey;
}

.linkStyle:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}